<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h2>Cart</h2>
<table>
	<%= render @cart %>
	<tr class="total line">
		<td colspan="2">Total</td>
		<td class="total_cell">><%= number_to_currency(@cart.total_price) %></td>
	</tr>
</table>
<%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are u sure?'} %>
