<!DOCTYPE html>
<html>
<head>
<title>Online Store</title>
	<%= stylesheet_link_tag "application", media: "all","data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tag %>
</head>
<body class="<%= controller.controller_name %>">
	<div id="banner">
	<%= image_tag("logo.png") %>
	<%= @page_title || "Pragmatic Bookshelf" %>
</div>
<div id="columns">
<div id="side">
	<div id="side">
		<div id="cart">
		<% if @cart %>
			<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
				<%= render @cart %>
			<% end %>
		<% end %>
		</div>
	</div>
	<ul>
		<li><a href="http://localhost:3000/">Home</a></li>
		<li><a href="http://www..../faq">Questions</a></li>
		<li><a href="http://www..../news">News</a></li>
		<li><a href="http://www..../contact">Contact</a></li>
		<li><%= Time.now.strftime('%I:%M %p') %> </li>
	</ul>
</div>
<div id="main">
	<%= yield %>
</div>
</div>
</body>
</html>